#title {
	text-align: center;
}

#message {
	background-color: yellow;
}
/* Game Board base*/




@media screen and (max-width:480px)  { 
	/* smartphones, iPhone, portrait 480x320 phones */
	#gameboard {
		width: 700px;
		height: 700px;

		margin: 0px auto;
		position: relative;

		/* bg image */
		background-image:	 url("../images/game_tictactoe_base.png");
		background-size:	 cover;                  
	    background-repeat:   no-repeat;
	    background-position: center center;  
	}
}

@media screen and (min-width:481px)  { 
	#gameboard {
		width: 500px;
		height: 500px;
		margin: 0px auto;
		position: relative;

		/* bg image */
		background-image:	 url("../images/game_tictactoe_base.png");
		background-size:	 cover;                  
	    background-repeat:   no-repeat;
	    background-position: center center;  
	} 
}

/*@media (min-width:641px)  { 
	 portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  
}

@media (min-width:961px)  { 
	 tablet, landscape iPad, lo-res laptops ands desktops  
}

@media (min-width:1025px) { 
	 big landscape tablets, laptops, and desktops  
}

@media (min-width:1281px) { 
	 hi-res laptops and desktops  
}*/

/* Individual grids */
#col-0-row-0 { position: absolute; height: 25%; width: 25%; top: 4%; left: 4%; }
#col-0-row-1 { position: absolute; height: 25%; width: 25%; top: 38%; left: 4%; }
#col-0-row-2 { position: absolute; height: 25%; width: 25%; top: 73%; left: 4%; }
#col-1-row-0 { position: absolute; height: 25%; width: 25%; top: 4%; left: 38%; }
#col-1-row-1 { position: absolute; height: 25%; width: 25%; top: 38%; left: 38%; }
#col-1-row-2 { position: absolute; height: 25%; width: 25%; top: 73%; left: 38%; }
#col-2-row-0 { position: absolute; height: 25%; width: 25%; top: 4%; left: 73%; }
#col-2-row-1 { position: absolute; height: 25%; width: 25%; top: 38%; left: 73%; }
#col-2-row-2 { position: absolute; height: 25%; width: 25%; top: 73%; left: 73%; }

/* Shapes */
.player-1-shape { 
	background-image:	 url("../images/game_tictactoe_o.png");
	background-size:	 cover;                  
    background-repeat:   no-repeat;
    background-position: center center; 
}
.player-2-shape { 
	background-image:	 url("../images/game_tictactoe_x.png");
	background-size:	 cover;                  
    background-repeat:   no-repeat;
    background-position: center center;
}

#gameover {
	position: absolute;
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;

	background-image:	 url("../images/game_tictactoe_gameover.gif");
	background-size:	 cover;                  
    background-repeat:   no-repeat;
    background-position: center center;
}

/* gameover animation */
#gameover {
	opacity: 1;
}
#gameover.ng-enter {
  transition:1s linear all;
  opacity:0;
}
#gameover.ng-enter.ng-enter-active {
  opacity:1;
}
#gameover.ng-leave {
  transition:1s linear all;
  opacity:1;
}
#gameover.ng-leave.ng-leave-active {
  opacity:0;
  transform: scale(2) rotate(2160deg);
}